.about {
    min-height: 60vh;
    width: 100%;
    background: var(--light);
    justify-content: space-between;
}

.about-img-wrapper {
    background: var(--light-grey);
    /*border-right: 5px solid var(--shadeOne);*/
    display: flex;
    align-items: center;
}

.about-img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    left: -30px;
    background: var(--shadeTwo);
}

.about-img::before {
    content: "";
    width: 14em;
    height: 14em;
    position: absolute;
    border-radius: 50%;
    right: -10px;
    top: 10px;
    background: var(--shadeOne);
}

.about-img::after {
    content: "";
    width: 13em;
    height: 13em;
    position: absolute;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
    background: url(../img/me2.jpg);
    /*radial-gradient( rgba(255, 255, 255, 0.1) 55%, rgba(0, 0, 0, 0.7) 80%),*/
    background-size: 120%;
    background-position: 50% 70%;
    filter: brightness(100%) contrast(105%) sepia(0%) hue-rotate(10deg) saturate(90%);
}

.about-data-wrapper {
    /*transform: translate(20%, 30%);*/
    padding: 4em 2em;
    margin: 2em 0 0 0;
}

.about-data-wrapper .abt-summary {
    /* margin: 2em 0;*/
    color: var(--dark-grey);
    font-weight: 400;
    max-width: 70%;
    line-height: 1.75em;
    text-align: justify;
    padding: 2em;
    font-size: 1.25em;
}

.social {
    width: 40%;
    padding: 2em 0;
    border-top: 5px solid var(--shadeOne)
}

.social a {
    color: var(--dark-grey);
    transition: all 0.3s ease;
    padding: 3px 4px;
    font-size: 1.25em;
    border-radius: 2px;
}

.social a:hover {
    background: var(--shadeOne);
    color: var(--light);
    transform: scale(1.3);
}

.particles {
    /*height: 40vh;*/
    grid-area: 2/1/3/3;
}