.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--dark);
    top: 0;
    left: 0;
    z-index: 100;
}

.no-loader {
    display: none;
}

.no-scroll {
    width: 100vw;
    height: 100vh;
    overflow: hidden!important;
}

.load-element {
    width: 20%;
    height: 30%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.load-element span {
    width: 10px;
    height: 10px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
    top: 50%;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.load-element span:nth-child(1) {
    margin: 0 -2.5em;
    animation: loading 1s ease-in-out infinite 1s alternate;
}

.load-element span:nth-child(2) {
    margin: 0 -1em;
    animation: loading 1s ease-in-out infinite 2.7s alternate;
}

.load-element span:nth-child(3) {
    margin: 0 0.5em;
    animation: loading 1s ease-in-out infinite 4.5s alternate;
}

.load-element span:nth-child(4) {
    margin: 0 2em;
    animation: loading 1s ease-in-out infinite 6.3s alternate;
}

.load-element span:nth-child(5) {
    margin: 0 3.5em;
    animation: loading 1s ease-in-out infinite 8.1s alternate;
}

@keyframes loading {
    from {
        transform: translate(-50%, -50%) scale(1);
        filter: hue-rotate(0);
    }
    70% {
        transform: translate(-290%, -250%) scale(2.5);
        filter: hue-rotate(-120deg);
    }
    100% {
        transform: translate(-50%, -50%) scale(0);
        filter: hue-rotate(0deg);
    }
}