.portfolio {
    padding: 0em;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    background: var(--shadeOne);
    /*border-top: 2em solid var(--shadeOne);*/
}

.portfolio .heading {
    transform: translate(2.5em, 2em);
    color: var(--dark-hard);
}

.portfolio .heading::before {
    background: var(--light);
}

.portfolio ul {
    position: absolute;
    left: 4em;
    top: 20%;
    font-size: 1.2em;
    left: 5em;
    list-style-type: none;
    font-weight: 500;
}

.portfolio ul li {
    margin: 15px 0;
    color: var(--dark-hard);
    transition: all 0.4s ease;
    cursor: pointer;
}

.portfolio ul li:hover {
    transform: scale(1.15);
}

.portfolio ul .active {
    transform: scale(1.3)!important;
    color: var(--light);
}

.portfolio ul .active::before {
    content: '';
    width: 100%;
    height: 2px;
    bottom: -2.5px;
    position: absolute;
    background: var(--light);
}

.open_card {
    position: absolute;
    top: 5%;
    pointer-events: all!important;
    left: 50%;
    cursor: pointer;
    font-size: 2em;
    transition: all 0.2s ease;
    animation: pop 0.4s ease alternate infinite;
    font-weight: 400;
}

@keyframes pop {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(0deg) scale(1.2);
    }
}

@keyframes popRotated {
    from {
        transform: rotate(180deg) scale(1);
    }
    to {
        transform: rotate(180deg) scale(1.2);
    }
}

.rotate {
    animation: popRotated 0.4s ease alternate infinite;
}

.open_card:hover {
    transform: rotate(0deg) scale(1.3);
}

.rotate:hover {
    transform: rotate(180deg) scale(1.3);
}

.desc {
    width: 65%;
    box-shadow: -1px 0px 10px var(--dark-grey);
    height: 100%;
    float: right;
    top: 0;
    position: absolute;
    transition: all 0.4s ease;
    overflow: hidden;
    right: -5%;
    /* transform: translate(-5em, 5em);*/
    transform: skew(-15deg) translateX(15%);
    background: var(--dark-hard);
}

.desc .flex {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.desc-container {
    width: 75%;
    top: 50%;
    transform: translate(-35%, -50%) skew(15deg);
    right: 10%;
    border-radius: 0px;
    box-shadow: 5px 5px 10px 5px var(--dark);
    height: 80%;
    transition: all 0.3s ease;
    position: absolute;
    background: var(--dark-hard);
}

.desc-container span {
    color: var(--light-green);
    margin: 10px 0;
    pointer-events: none;
    padding: 0 25%;
}

.desc-container .title {
    font-size: 2.5em;
    font-weight: 700;
    margin: -10px;
}

.desc-container .stack {
    font-size: 1em;
    font-weight: 300;
    color: var(--blueThree);
}

.desc-container .summary {
    font-weight: 400;
}

.desc-container .checkit {
    margin-top: 2em;
}

.desc-container .checkit a {
    cursor: pointer;
    color: var(--blueOne);
    transition: all 0.3s ease;
    text-decoration: none;
    pointer-events: all;
    padding: 5px 10px;
    font-size: 1.1em;
    border: 1px solid var(--blueOne);
}

.desc-container .checkit a:hover {
    color: var(--blueTwo);
    border: 1px solid var(--blueTwo);
    background: var(--blueOne);
}

.hideDesc {
    right: -100%;
}

.proj-control {
    display: flex;
    width: 65%;
    position: absolute;
    font-size: 1.15em;
    top: 100%;
}

.prev,
.next {
    cursor: pointer;
    transition: color 0.3s ease;
    pointer-events: all!important;
}

.prev:hover,
.next:hover {
    color: var(--blueTwo);
}

.view {
    display: inline-flex;
    width: 60%;
    top: 50%;
    overflow: hidden;
    transform: translate(-50%, -50%);
    right: -15%;
    border-radius: 0px;
    box-shadow: 0 0 10px var(--dark-medium);
    height: 80%;
    transition: all 0.3s ease;
    position: absolute;
    background: var( --light);
}

@keyframes showCard {
    0% {
        transform: translate(-50%, -50%);
        z-index: 0;
    }
    50% {
        transform: translate(-125%, -50%);
        z-index: 0;
    }
    60% {
        z-index: 2;
    }
    100% {
        transform: translate(-50%, -50%);
        z-index: 2;
    }
}

@keyframes hideCard {
    0% {
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    50% {
        transform: translate(-125%, -50%);
        z-index: 2;
    }
    60% {
        z-index: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        z-index: 0;
    }
}

.project {
    animation: hideCard 2s ease-in-out forwards;
}

.opened_card {
    animation: showCard 2s ease-in-out forwards;
}

.project .row {
    display: none;
}

.project .proj-img {
    width: 100%;
}

.design .proj-img {
    display: none;
}


/*Designs*/

.design {
    overflow-y: scroll;
    transform: translate(-20%, -50%);
    width: 65%;
}

.design::-webkit-scrollbar {
    display: none;
}

.design .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


/* Create four equal columns that sits next to each other */

.design .row .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    padding-bottom: 10px;
}

.design .row .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}