html,
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #0b151d;
  overflow-x: hidden;
}
.rslides {
  position: relative;
  list-style: none;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
#gallery {
  padding-bottom: 0 !important;
  min-height: auto !important;
}
#gallery close {
  z-index: 1251;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
#container {
  background: #0e2535;
  min-height: 100vh;
  position: relative;
}
main {
  background: #183d57;
  min-height: 80vh;
  width: 80vw;
  border: 10px solid #0e2535;
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 1vw;
}
.dp {
  background: #183d57;
  width: 230px;
  height: 230px;
  margin: auto;
  position: relative;

  border-radius: 50%;
  border: 8px solid #0e2535;
  border-top: 8px solid #09f;
  border-bottom: 8px solid #40ada1;
}

.dp:hover:before {
  cursor: pointer;
  box-shadow: 0 0 10px #40ada1;
}
.dp:hover:after {
  border: 20px solid #09f;

  left: -28px;
  top: -29px;
  animation: op 1s ease forwards;
}
@keyframes op {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}
.dp::after {
  content: "";
  opacity: 0;
  transition: 0.5s ease;
  background: #183d57;
  width: 230px;
  left: -12px;
  top: -9px;
  height: 230px;
  position: absolute;
  margin: auto;
  z-index: 0;
  border-radius: 50%;

  border: 5px solid #09f;
}
.dp::before {
  content: "";
  width: 200px;

  z-index: 1;
  transition: 0.5s ease;
  height: 200px;
  background: url("1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  border-radius: 50%;
  left: 7px;
  top: 8px;
  text-align: center;
}
.about {
  position: absolute;
  left: 30px;
  top: 20px;
  display: flex;
  flex-direction: column;
}
.about st {
  font-family: "Lobster Two", cursive;

  font-size: 70px;
  font-weight: 900;
}
.about h1 {
  color: #3cada0;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 0px;
  font-family: "Pacifico", cursive;

  /*font-family: 'Abril Fatface', cursive;

  font-family: 'Lobster Two', cursive;

  font-family: 'Monoton', cursive;

  font-family: 'Mitr', sans-serif;

  font-family: 'Sen', sans-serif;*/
}
.about h4 {
  color: white;
  font-size: 20px;
  text-align: left;

  font-family: "Mitr", sans-serif;
}
.about span {
  margin-top: 20px;
  color: white;
  font-size: 22px;
  display: inline;
  position: relative;
}
.about span h5 {
  font-size: 18px;
  position: absolute;
  top: 2px;
  left: 40px;

  font-family: "Sen", sans-serif;
}
.gallery {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #0e2535;
  position: absolute;
  z-index: 0;
  display: inline-flex;
  top: 20%;
  right: 20%;
}

.gallery::after {
  content: " ";
  width: 5px;
  position: absolute;
  height: 400px;
  background: #0e2535;
  top: -50%;
  right: 240%;
  transform: rotate(70deg);
}

.aboutme {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #0e2535;
  position: absolute;
  z-index: 0;
  display: inline-flex;
  top: 70%;
  right: 20%;
}

.aboutme::after {
  content: " ";
  width: 5px;
  position: absolute;
  height: 450px;
  background: #0e2535;
  top: -380%;
  right: 380%;
  transform: rotate(-70deg);
}
.projects {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #0e2535;
  position: absolute;
  z-index: 0;
  display: inline-flex;
  top: 70%;
  left: 20%;
}

.projects::after {
  content: " ";
  width: 5px;
  position: absolute;
  height: 400px;
  background: #0e2535;
  bottom: -80%;

  left: 280%;
  transform: rotate(70deg);
}
.writing {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #0e2535;
  position: absolute;
  z-index: 0;
  display: inline-flex;
  top: 30%;
  left: 30%;
}

.writing::after {
  content: " ";
  width: 5px;
  position: absolute;
  height: 200px;
  background: #0e2535;
  bottom: -110%;

  left: 180%;
  transform: rotate(-65deg);
}
.gallery .fa {
  color: #39bea6;
  font-size: 54px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.projects .fa {
  color: #39bea6;
  font-size: 54px;
  position: absolute;
  top: 22px;
  left: 22px;
}
.aboutme .fa {
  color: #39bea6;
  font-size: 28px;
  position: absolute;
  z-index: 500;
  top: 20px;
  left: 20px;
}
.writing .fa {
  color: #39bea6;
  font-size: 50px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.men {
  transition: 0.5s ease;
}
.men:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #09f;
}
.men:hover .fa {
  color: #09f;
}

e {
  color: white;
  position: absolute;
  left: 32%;
  top: 50%;
  z-index: 999;
  text-transform: lowercase;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  transition: 0.5s ease;
}
.men:hover e {
  top: 100%;
  opacity: 1;
}

detail {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;

  border: 10px solid #0e2535;
  background: #0e2535;
  padding-bottom: 40px;
  position: relative;
}
toleft {
  display: flex;
  flex: 1;
  flex-direction: column;

  position: relative;
}
toright {
  padding-right: 10%;
  display: flex;
  flex: 2;
  padding-left: 10%;
  flex-direction: column;
  position: relative;
}
detail toright h1 {
  color: rgb(221, 221, 221);
  margin: 20px;
  font-weight: 900;
  font-family: "Mitr", sans-serif;
}
detail toright h1::before {
  content: "";
  width: 3vw;
  margin-top: 50px;
  height: 5px;
  background: #09f;
  position: absolute;
}
detail toright h4 {
  color: #39bea6;
  margin: 20px;
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;

  display: inline;
  font-family: "Sen", sans-serif;
}
detail toright p {
  color: white;
  margin: 20px;
  font-family: "Sen", sans-serif;
}
detail toright h5 {
  color: white;
  font-weight: 700;
  margin-left: 20px;
  font-size: 14px;
  font-family: "Sen", sans-serif;
  display: inline;
}
detail toleft h1 {
  color: rgb(221, 221, 221);
  margin: 20px;
  font-weight: 900;
  font-family: "Mitr", sans-serif;
}
detail toleft h1::before {
  content: "";
  width: 3vw;
  margin-top: 50px;
  height: 5px;
  background: #09f;
  position: absolute;
}
detail toleft h4 {
  color: #39bea6;
  margin: 20px;
  margin-bottom: 0;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;

  display: inline;
  font-family: "Sen", sans-serif;
}

detail toleft h5 {
  color: white;
  font-weight: 700;
  margin-left: 20px;
  font-size: 14px;
  font-family: "Sen", sans-serif;
  display: inline;
}
.sk {
  margin-bottom: 0px;
  margin-left: 25px;
}
.progress {
  width: 350px;
  height: 30px;
  display: none;
  margin-top: -30px;
  position: relative;
  transition: 0.5s ease;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 10px;
  margin-left: 20px;
  background: rgba(205, 205, 205, 0.2);
}
.ui::before {
  content: "";
  width: 0%;
  animation: ui 1s 0s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
.anime {
  display: block;
}
@keyframes ui {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
.ui::after {
  content: "70%";
  font-family: "Sen", sans-serif;

  color: #39bea6;
  font-weight: 900;
  opacity: 0;
  animation: opacity 1s 1s ease forwards;
  margin-left: 250px;
  top: 5px;
  position: absolute;
}
.graphic::before {
  content: "";
  width: 0%;
  animation: graphic 1s 1s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
@keyframes graphic {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
.graphic::after {
  content: "80%";
  font-family: "Sen", sans-serif;
  color: #39bea6;
  font-weight: 900;
  margin-left: 250px;
  opacity: 0;
  animation: opacity 1s 2s ease forwards;
  top: 5px;
  position: absolute;
}
.python::before {
  content: "";
  width: 0%;
  animation: python 1s 2s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
@keyframes python {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}
.python::after {
  content: "65%";
  font-family: "Sen", sans-serif;
  color: #39bea6;
  font-weight: 900;
  opacity: 0;
  animation: opacity 1s 3s ease forwards;
  margin-left: 250px;
  top: 5px;
  position: absolute;
}
.cpp::before {
  content: "";
  width: 0%;
  animation: cpp 1s 2s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
@keyframes cpp {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
.cpp::after {
  content: "55%";
  font-family: "Sen", sans-serif;
  color: #39bea6;
  font-weight: 900;
  opacity: 0;
  animation: opacity 1s 3s ease forwards;
  margin-left: 250px;
  top: 5px;
  position: absolute;
}
.fs::before {
  content: "";
  width: 0%;
  animation: fs 1s 3s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
@keyframes fs {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
.fs::after {
  content: "70%";
  font-family: "Sen", sans-serif;
  color: #39bea6;
  font-weight: 900;
  opacity: 0;
  animation: opacity 1s 4s ease forwards;
  margin-left: 250px;
  top: 5px;
  position: absolute;
}

.ptest::before {
  content: "";
  width: 0%;
  animation: ptest 1s 5s ease forwards;
  transition: 0.5s ease;
  height: 5px;
  margin-bottom: -50px;
  background: #39bea6;
  position: absolute;
  border-bottom-right-radius: 15px;
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ptest {
  from {
    width: 0;
  }
  to {
    width: 55%;
  }
}
.ptest::after {
  content: "55%";
  font-family: "Sen", sans-serif;
  color: #39bea6;
  font-weight: 900;
  opacity: 0;
  animation: opacity 1s 6s ease forwards;
  margin-left: 250px;
  top: 5px;
  position: absolute;
}
hobby {
  display: flex;
  width: 100%;
}
.hobby {
  color: #39bea6;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  position: relative;
  font-size: 36px;
  margin-left: 20px;
  font-family: "Sen", sans-serif;
  width: max-content;
  transition: 0.3s ease;
}
.hobby:hover {
  color: #09f;
}
.write::before {
  content: "Writing";
  top: 20%;
  color: white;
  opacity: 0;
  font-size: 12px;
  left: -15px;
  transition: 0.5s ease;
  position: absolute;
}
.write:hover:before {
  top: 100%;
  opacity: 1;
}
.read::before {
  content: "Reading";
  top: 20%;
  color: white;
  opacity: 0;
  font-size: 12px;
  left: -10px;
  transition: 0.5s ease;
  position: absolute;
}
.read:hover:before {
  top: 100%;
  opacity: 1;
}
.movies::before {
  content: "Movie / Tutorials";
  top: 20%;
  color: white;
  opacity: 0;
  font-size: 12px;
  left: 0px;
  transition: 0.5s ease;
  position: absolute;
}
.movies:hover:before {
  top: 100%;
  opacity: 1;
}
.coding::before {
  content: "coding";
  top: 20%;
  color: white;
  opacity: 0;
  font-size: 12px;
  left: 0px;
  transition: 0.5s ease;
  position: absolute;
}
.coding:hover:before {
  top: 100%;
  opacity: 1;
}
#writing,
#about,
#gallery {
  position: absolute;
  width: 50vw;
  min-height: 50vh;
  margin: auto;
  top: 25%;
  left: 25%;
  padding-bottom: 30px;
  transition: all 0.5 ease;
  display: flex;
  border-radius: 25px;
  border: 5px solid #39bea6;
  z-index: 1250;
  transform: scaleY(0);
  background: #0e2535;
  text-align: center;
}
close {
  color: #39bea6;
  font-size: 34px;
  font-weight: 900;
  left: 10px;
  top: 10px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5 ease;
  font-family: "Sen", sans-serif;
}
.open {
  animation: openwrite 0.6s ease forwards;
}
.close {
  animation: closewrite 0.6s ease forwards;
}
@keyframes closewrite {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: scaleY(0);
  }
}
@keyframes openwrite {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.3);
  }
  100% {
    transform: scaleY(1);
  }
}
close:hover {
  filter: hue-rotate(180deg);
}
#writing a {
  text-decoration: none;
  color: #09f;
  display: block;
  line-height: 12vh;
  margin: auto;
  width: 100%;
  font-family: "Lobster Two", cursive;
  font-size: 30px;
  /*font-family: 'Abril Fatface', cursive;

  font-family: 'Monoton', cursive;

  font-family: 'Mitr', sans-serif;

  font-family: 'Sen', sans-serif;*/
}
#about p {
  font-size: 18px;
  color: white;
  font-family: "Sen", sans-serif;
  margin-top: 15%;
  font-weight: 300;
  margin-left: -10%;
}
#about span {
  display: block;
  margin-top: 10px;
  color: #40ada1;
  font-size: 20px;
}
#about {
  padding-right: 5%;
  justify-content: left;
  text-justify: inter-character;
  text-align: justify;
}
#about h1 {
  color: rgb(221, 221, 221);
  margin: 20px;
  margin-left: 50px;
  font-weight: 900;
  font-family: "Mitr", sans-serif;
}
#about h1::before {
  content: "";
  width: 3vw;
  margin-top: 50px;
  height: 5px;
  background: #09f;
  position: absolute;
}
@media only screen and (max-width: 1280px) {
  .gallery {
    right: 10%;
  }
  .gallery::after {
    height: 310px;
    top: -18%;
    right: 200%;
  }
  .projects::after {
    height: 310px;
    bottom: -35%;
    left: 215%;
  }
  .aboutme {
    right: 5%;
  }
  .dp {
    left: 5%;
  }
}
@media only screen and (max-width: 1260px) {
  .gallery::after {
    top: -28%;
    right: 219%;
    height: 350px;
  }
  .projects::after {
    bottom: -19%;
    left: 230%;
    transform: rotate(61deg);
    height: 350px;
  }
  .aboutme::after {
    top: -317%;
    right: 293%;
    transform: rotate(-64deg);
    height: 350px;
  }
  #about p {
    font-size: 16px;
    margin-top: 20%;
  }
  #about span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1080px) {
  .aboutme::after {
    top: -205%;
    right: 205%;
    transform: rotate(-59deg);
    height: 227px;
  }
  .gallery::after {
    top: 33%;
    right: 154%;
    height: 183px;
    transform: rotate(62deg);
  }
  .projects::after {
    bottom: 30%;
    left: 156%;
    transform: rotate(56deg);
    height: 194px;
  }
  .writing::after {
    bottom: -21%;
    left: 120%;
    transform: rotate(-65deg);
    height: 71px;
  }
  @media only screen and (max-width: 1000px) {
    .menu {
      margin-left: 100px;
    }
    .projects::after {
      left: 161%;
      height: 210px;
    }

    .about span h5 {
      font-size: 16px;
      left: 24px;
    }
    .about span {
      font-size: 20px;
    }
    .aboutme::after {
      top: -145%;
      right: 133%;
      transform: rotate(-49deg);
      height: 160px;
    }
  }
  @media only screen and (max-width: 800px) {
    main,
    detail {
      width: 98vw;
    }
    .writing::after {
      bottom: -38%;
      left: 117%;
      transform: rotate(-55deg);
      height: 86px;
    }
    .aboutme::after {
      top: -176%;
      right: 133%;
      transform: rotate(-34deg);
      height: 160px;
    }
    .projects::after {
      left: 161%;
      height: 240px;
    }
    #about p {
      font-size: 14px;

      margin-top: 20%;

      margin-left: -20%;
    }
    #about span {
      font-size: 16px;
    }
    #about {
      width: 90vw;
      left: 5%;
    }
  }

  @media only screen and (max-width: 850px) {
    .menu {
      margin-left: 150px;
    }
    .gallery {
      top: 25%;
      right: 10%;
    }
    .about span h5 {
      font-size: 14px;
    }
    .about span {
      font-size: 18px;
    }
    .progress {
      width: 238px;
    }
    .python::after {
      margin-left: 180px;
    }
    .graphic::after {
      margin-left: 180px;
    }
    .ui::after {
      margin-left: 180px;
    }
    .fs::after {
      margin-left: 180px;
    }
    .cpp::after {
      margin-left: 180px;
    }
    .ptest::after {
      margin-left: 180px;
    }
  }
  @media only screen and (max-width: 834px) {
    .gallery {
      top: 20%;
    }
    .gallery::after {
      top: 60%;
      right: 105%;
      transform: rotate(35deg);
    }
  }
  @media only screen and (max-width: 768px) {
    .gallery {
      top: 20%;
      right: 5%;
    }
  }
  @media only screen and (max-width: 700px) {
    .gallery {
      width: 100px;
      height: 100px;
    }
    .gallery .fa {
      top: 22px;
      left: 20px;
    }
    main {
      min-height: 100vh;
    }
  }

  @media only screen and (max-width: 650px) {
     #gallery {
      width: 100vw;
      left: 0;
    }
    .writing {
      top: 78%;
      left: 45%;
    }
    .writing::after {
      bottom: 84%;
      left: 62%;
      transform: rotate(-170deg);
      height: 112px;
    }
    .gallery {
      top: 14%;
      right: 10%;
    }
    .gallery::after {
      top: 68%;
      right: 97%;
      height: 125px;
      transform: rotate(32deg);
    }
  }

  @media only screen and (max-width: 560px) {
    detail toleft h1 {
      font-size: 25px;
    }
    detail toleft h1::before {
      margin-top: 40px;
    }
    detail toright h1 {
      font-size: 25px;
    }

    detail toright p {
      margin: 11px;

      margin-left: 50px;

      font-size: 14px;
    }
    hobby {
      font-size: 24px;
    }
    .hobby {
      margin-right: 15px;
    }
    .read::before,
    .write::before,
    .movies::before,
    .coding::before {
      font-size: 10px;
    }

    detail toright h1::before {
      margin-top: 40px;
    }
    detail toleft h4 {
      font-size: 14px;
    }
    detail toright h4 {
      font-size: 16px;
    }
    detail toleft h1::before {
      width: 80%;
    }
    detail toleft h5 {
      font-size: 12px;
    }
    .progress {
      margin-top: -25px;
      width: 165px;
    }
    .ui::after {
      margin-left: 170px;
    }
    .graphic::after {
      margin-left: 170px;
    }
    .python::after {
      margin-left: 170px;
    }
    .cpp::after {
      margin-left: 170px;
    }
    .fs::after {
      margin-left: 170px;
    }
    .ptest::after {
      margin-left: 170px;
    }
  }
  @media only screen and (max-width: 560px) {
    toleft,
    toright {
      display: block;
      position: relative;
      width: 90vw;
    }
    detail {
      display: inherit;
    }
    detail toleft h5 {
      display: block;
    }
    detail toleft h4 {
      font-size: 14px;
      display: block;
      position: relative;
    }
    .progress {
      margin-top: -25px;
      width: 55vw;
      margin-left: 35px;
    }
    .ui::after {
      margin-left: 110%;
    }
    .graphic::after {
      margin-left: 110%;
    }
    .python::after {
      margin-left: 110%;
    }
    .fs::after {
      margin-left: 110%;
    }
    .cpp::after {
      margin-left: 110%;
    }
    .ptest::after {
      margin-left: 110%;
    }
  }
  toright {
    padding: 0;
    padding-bottom: 40px;
  }
  detail toleft h1::before,
  detail toright h1::before {
    width: 10vw;
  }
  detail toright h5 {
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (width: 768px) and (height: 750px) {
  main {
    min-height: 300vh;
  }
}

@media only screen and (width: 1024px) and (height: 1366px) {
  .aboutme::after {
    top: -275%;
    right: 200%;
    transform: rotate(-50deg);
    height: 265px;
  }
  .gallery::after {
    top: 62%;
    right: 138%;
    height: 195px;
    transform: rotate(45deg);
  }
  .writing::after {
    bottom: -62%;
    left: 110%;
    transform: rotate(-50deg);
    height: 100px;
  }
  .projects::after {
    bottom: 45%;
    left: 150%;
    transform: rotate(45deg);
    height: 225px;
  }
}
@media only screen and (width: 800px) and (height: 1280px) {
  .writing::after {
    bottom: -80%;
    left: 125%;
    height: 130px;
  }
  .projects::after {
    bottom: 40%;
    left: 165%;
  }
  .aboutme::after {
    top: -215%;
    right: 145%;
    height: 200px;
  }
}
@media only screen and (width: 600px) and (height: 960px) {
  .gallery::after {
    height: 190px;
    transform: rotate(25deg);
  }
  .writing::after {
    left: 75%;
    transform: rotate(-165deg);
    height: 185px;
  }
}
@media only screen and (width: 1440px) and (height: 900px) {
  .gallery {
    top: 15%;
    right: 5%;
  }
  .aboutme::after {
    height: 360px;

    top: -300%;
    right: 300%;
  }
  .projects::after {
    height: 300px;

    bottom: -30%;
    left: 220%;
  }
}
@media only screen and (max-width: 490px) {
  detail toleft h1::before,
  detail toright h1::before {
    width: 10vw;
  }
  detail toright p {
    margin-left: 20px;
  }

  #about h1::before {
    width: 10vw;
    margin-top: 40px;
  }
  #about h1 {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 28px;
  }
  #about p {
    margin-left: -31%;
  }
  #about span {
    font-size: 14px;
  }
  #writing {
    width: 80vw;
    left: 10%;
    flex-direction: column;
  }
  #writing a {
    width: auto;
  }
  .about st {
    font-size: 58px;
  }
  .progress {
    margin-left: 20px;
  }
  toleft ::after {
    margin-left: 200px;
  }
  .writing .fa {
    position: relative;
    top: 18px;
    left: 45px;
  }
  .projects .fa {
    top: 15px;

    position: relative;
    left: 35px;
  }
  .gallery .fa {
    position: relative;
    top: 15px;
    left: 34px;
  }
  .aboutme .fa {
    position: relative;
    top: 15px;
    left: 30px;
  }
  .men:hover {
    cursor: initial;
    box-shadow: 0 0 10px transparent;
  }
  .m:hover {
    cursor: pointer;
  }
  e {
    font-size: 14px;
    left: 30%;
  }

  .men:hover e {
    top: 75%;
  }
  e:hover {
    cursor: pointer;
  }
  main {
    border-bottom: 0;
    min-height: 95vh;
  }
  detail {
    display: block;
  }
  .gallery,
  .aboutme,
  .projects,
  .writing {
    position: sticky;
    margin: 0;
    top: 0;
    flex: 1;
    border-radius: 0;
    background: transparent;
    height: 100%;
    width: auto;
    width: 60px;
    height: 60px;
  }
  .projects {
    left: 5%;
    bottom: 30%;
  }
  .menu *:after {
    display: none;
  }
  .menu {
    position: relative;
    width: 100%;
    background: #183d57;
    height: 14%;
    display: flex;
    margin-top: auto;
    margin-left: 0;
    padding: 0;
    padding-right: 20px;
    z-index: 1100;
  }
  .menu .fa {
    font-size: 30px;
  }
  .dp::after {
    width: 180px;
    height: 180px;
  }
  .dp::before {
    width: 150px;
    height: 150px;
  }
  .dp {
    width: 180px;
    height: 180px;

    position: fixed;
    left: 25%;
    top: 45%;
  }
  .about {
    position: fixed;
  }
  .about h1 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 365px) {
  .about st {
    font-size: 50px;
  }
  .about h1 {
    font-size: 40px;
  }
  .about h4 {
    font-size: 18px;
  }
  e {
    font-size: 14px;
    left: 40%;
  }
  .dp {
    top: 50%;
    width: 160px;
    height: 160px;
  }
  .dp::after {
    width: 160px;
    height: 160px;
  }
  .dp::before {
    width: 130px;
    height: 130px;
  }
} /*
@media only screen and (max-width: 416px) {
  .gallery,
  .aboutme,
  .projects,
  .writing {
    width: 70px;
    height: 70px;
  }
  .menu .fa {
    font-size: 30px;
  }
  .dp::after {
    width: 180px;
    height: 180px;
  }
  .dp::before {
    width: 150px;
    height: 150px;
  }
  .dp {
    width: 180px;
    height: 180px;
    margin-top: 70%;
    margin-left: -8%;
  }
  .about span {
    font-size: 18px;
    margin-left: 25%;
    margin-top: 10px;
  }
  .menu *::after {
    display: none;
  }
  .gallery {
    top: 45%;
    right: 11%;
  }
  .aboutme {
    right: 10%;
  }
  .writing {
    top: 81%;
  }
  .writing .fa {
    top: 20px;
    left: 23px;
  }
  .projects {
    left: 14%;
  }
  .projects .fa {
    top: 18px;
    left: 20px;
  }
}
@media only screen and (max-width: 380px) {
  .about h1 {
    font-size: 50px;
  }
  .dp::after {
    width: 160px;
    height: 160px;
  }
  .dp::before {
    width: 130px;
    height: 130px;
  }
  .dp {
    width: 160px;
    height: 160px;
    margin-left: -11%;
  }
  .men {
    width: 60px;
    height: 60px;
  }
  .menu .fa {
    font-size: 24px;
  }
  .gallery .fa {
    top: 18px;
    left: 18px;
  }
  .aboutme .fa {
    top: 18px;
    left: 18px;
  }
  .writing .fa {
    top: 20px;
    left: 20px;
  }
  .projects .fa {
    top: 17px;
    left: 18px;
  }
  #about p {
    margin-top: 20%;
  }

  #about {
    padding-right: 2%;
    padding-left: 1%;
  }
  #about h1::before {
    margin-top: 34px;
    height: 2px;
  }
  #about h1 {
    font-size: 24px;
  }
}
@media only screen and (max-width: 720px) and (min-height: 1440px) {
  body {
    background: red;
  }
  .dp {
    margin-top: 107%;
  }
}
@media only screen and (max-width: 380px) and (min-height: 812px) {
  .dp {
    margin-top: 89%;
  }
}
@media only screen and (max-width: 360px) {
  .dp {
    margin-top: 81%;
    margin-left: -14%;
  }
}*/
#loader {
  width: 100vw;
  background: #0e2535;
  justify-content: center;
  margin: auto auto;
  position: absolute;
  z-index: 1200;
  display: table;
  padding-top: 40vh;
  vertical-align: middle;
  text-align: center;
  height: 100vh;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.hid::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.hid {
  -ms-overflow-style: none;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
